---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
interface Props {
    title: string;
}

const coverImage = "/BreathingOptionalCover-big.webp";
const coverAlt =
    "Cover for Breathing Optional, cardiogram signal on a black background";

const title = "Breathing Optional";
const author = "Liam Marshall";
const price = "$39";
const format = "hardcover";

const pubdate = "August 9, 2023";
const dims = "6 x 9in";
const pagecount = "64 Pages";
const isbn = "978-1-961343-00-9";

// You will need to fill in the blurbs by hand
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Books - {title}</title>
    </head>
    <body>
        <Header />

        <div class="product-content">
            <img
                class="cover-image"
                src={coverImage}
                alt={coverAlt}
                width="400"
                height="532"
            />

            <div class="purchase-info">
                <p>
                    <b>{title}</b><br /><b>{author}</b><br />{format}<br />{
                        price
                    }
                </p>
            </div>

            <div class="purchase-button">
                <button class="button-6" role="button">Add to Cart</button>
                <a
                    href="https://www.lulu.com/shop/liam-marshall/breathing-optional/hardcover/product-rnyr5z.html?q=Breathing+Optional+Liam+Marshall&page=1&pageSize=4"
                >
                    <p>Purchase from Lulu.com</p>
                </a>
            </div>

            <div class="book-info">
                <p>{pubdate} | {dims} | {pagecount} | {isbn}</p>
            </div>

            <div class="description">
                <p class="pub-blurb">
                    In the language of geodesics, rock and roll, and exit
                    strategies, the poems in Breathing Optional explore trauma,
                    cynicism, the baffling substance of social reality, and the
                    subjective experience of, only partially, sharing your
                    world-line with others.
                </p>

                <hr />

                <p class="blurb">
                    "These poems BURN. Liam makes Rage and Heartbreak palpable
                    and raw and true. Admirable feats."<br />– Jason Squamata
                </p>
                <p class="blurb">
                    "A rock 'n' roll masterpiece. By the end it feels like the
                    only tethers left on the world are your own beating heart
                    and a fuzz pedal, a differential equation and a small
                    plastic cup with your pills in it. Smart and absolutely
                    furious."<br />– Daniel Sinderson
                </p>
            </div>
        </div>

        <Footer />
    </body>
</html>

<style>
    .product-content {
        display: grid;
        grid-template-columns: 1fr repeat(4, 100px) 1fr;
        gap: 5px;
        grid-auto-rows: minmax(50px, auto);
    }

    .cover-image {
        grid-column: 2 / 6;
        grid-row: 1;
        outline: 2px solid;
    }

    .purchase-info {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .purchase-button {
        grid-column: 4 / 6;
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: small;
    }

    .button {
        height: 50px;
        width: 150px;
    }

    .book-info {
        grid-column: 2 / 6;
        grid-row: 3;
        font-size: small;
    }

    .description {
        grid-column: 2 / 6;
        grid-row: 4;
    }

    .button-6 {
        align-items: center;
        background-color: #ffffff;
        background-color: black;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        color: #f0f0f1;
        cursor: pointer;
        display: inline-flex;
        font-family:
            system-ui,
            -apple-system,
            system-ui,
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

    .button-6:active {
        background-color: #ffffff;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
    }
</style>
